*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: arial;
}
.content-subneteos{
    
}


.window{
    width: 500px;
    height: 300px;
    border: 1px solid #c2c2c2;
    position: fixed;
    display: block;
}
.bar-title{
    width: 100%;
    height: 30px;
    background-color: #c2c2c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: #353535;
}
.bar-title .title{
    font-size: 20px;
}
.bar-title .btn-close{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    background: #353535;
    cursor: pointer;
}
.bar-title .btn-close:hover{
    color: #f00;
}
.frame{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #ffffff;
    margin-top: 30px;
    color: #000000;
}